.row{
  justify-content:center
}

.col-8{
  justify-self: center;
}

.form-container{
    position:relative;
    border-radius: 10px;
    top:100px;
    padding:40px;
    box-shadow: 0px 0px 2px 0px; 
}

.form-container h2{
  color:black;
  padding-bottom: 20px
}

.form-control{
  background:transparent;
  outline:none;
}

.form-label,.form-text,.form-check-label{
  color:black;

}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}