body{
  background-image: url("../images/nick-chong-N__BnvQ_w18-unsplash.jpg");
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
}

.row{
  justify-content:center
}

.col-8{
  justify-self: center;
}

.form-container{
    position:relative;
    width: 70%;
    border-radius: 5px;
    top:100px;
    padding:40px;
    box-shadow: 0px 0px 1px 0px; 
    background-color: white;
    margin: auto;
}

.form-container h2{
  color:black;
  text-align: center;
  padding-bottom: 20px
}

.form-control{
  background:transparent;
  outline:none;
}

.form-label,.form-text,.form-check-label{
  color:black;

}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}